fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
httpx

# Database & Auth
sqlalchemy
alembic
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
python-multipart

# Frontend Templating
jinja2
